PORT=5001
MONGO_URI=mongodb+srv://fanhubadmin:FanHubAdminPass2026@cluster0.uejdwzj.mongodb.net/fanhubplus?retryWrites=true&w=majority
JWT_SECRET=super_secret_jwt_key_fanhub_2026

CLOUDINARY_CLOUD_NAME=jfezz4rv
CLOUDINARY_API_KEY=652549329654958
CLOUDINARY_API_SECRET=6ddrOaIzLbo1WqgafYFDiCD_LsQ

# Email Configuration (for Password Reset OTP)
EMAIL_SERVICE=gmail
EMAIL_USER=haladawood2828@gmail.com
EMAIL_PASS=ltcuptncfosiacvu

# Google Gemini API Key for AI Chatbot Suggestions Mode
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Google OAuth Client ID (from Google Cloud Console)
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID